Package: tw.hiraku.ecgenabler
Priority: optional
Section: Tweaks
Maintainer: Hiraku <tim@apple.com>
Architecture: iphoneos-arm
Version: 1.4.1
Description:Enable ECG function in your country
Name: ECG Enabler
Depends: mobilesubstrate, firmware (>= 12.2)
Author: Hiraku <tim@apple.com>
Depiction: Enable ECG function in your country
