Package: tw.hiraku.ecgenabler
Priority: optional
Section: Tweaks
Maintainer: Hiraku <dev@hiraku.tw>
Architecture: iphoneos-arm
Version: 1.0
Description: Enable ECG function in your country
Name: ECG Enabler
Depends: mobilesubstrate, firmware (>= 12.2)
Author: Hiraku <dev@hiraku.tw>
Depiction: Enable ECG function in your country
